@import "../../App.scss";

.Contact{
    position:absolute;
    width: 100vw;
    background: #322214;
    background-image: url(../../assets/img/background.png);
    display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;

    &__container{
    height: 100%;
    width: 100%;

    h1{
        color: $background-color;
        font-size: 35px;
    }

    @media(max-width:440px){
        h1{
            font-size: 27px;
        }
    }
    @media(max-width:768px){
        h1{
            font-size: 30px;
        }
    }
    }

   
}

.icon{
    transition: transform 0.2s ease !important;
    height: 70px;
    @media(max-width:576px){
        height:50px;
    }
   
}
.icon:hover {
    cursor: pointer;
    transform: scale(1.05); 

}

.row>* {
    @media(max-width:576px){

    
    flex-shrink: 0;
    width: 50% !important;
    max-width: 100%;
    }
    
}
.wix {
    font-family: $title-font;
    font-size: 35px !important;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 40px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.08);
      }

    @media (max-width: 768px) {
      font-size: 25px; 
      width: calc(32% - 10px);
    }

    @media (max-width: 480px) {
      font-size: 23px; 
      width: 32% -10px;
    }
  }
.wixC{
    display: flex;
    justify-content: center;
    align-items: center;
}
