@import "../../../App.scss";

.style2{
  
  @media(max-width:580px){
    width:100vw;
  }
}

.style{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-image: url(../../../assets/img/background.png);
    background-color: #8a5209;
    border-radius: 18px;
    box-shadow: 50;
    padding: 100px;
    width:400px;

    @media(max-width:12850px){
      padding: 50px;
    }
    @media(max-width:700px){
      padding: 30px;
      width: 80vw;
    }

  h2{
    font-family: $title-font;
    color: black;
  }
  p{
color: black;
font-family: $text-font;
font-size: 1.1em;
  }
  a{
    font-family: $title-font;
    color: #ecb876 !important;
  }
  button{
    margin-top: 15px;
    font-size: 22px;
    background: #322214;
    background-image: url(../../../assets/img/background.png);
    padding:15px 20px;
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.08);
    }
  }
}

  